* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: black;
}
p {
  font-size: 1rem;
  line-height: 1.9rem;
}
p,
span,
label,
input,
textarea,
li {
  color: rgb(109, 108, 108);
}
a {
  text-decoration: none;
}
.main-container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}
/*Button*/
.btn {
  padding: 1rem 1.5rem;
  background: white;
  border: 1.5px solid #f1f1f1;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 5px;
}

/*Titles*/
.section-title {
  margin: 1rem 0 3rem;
  font-size: 2rem;
}

.pre-title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: rgb(109, 108, 108);
  position: relative;
  padding-left: 40px;
  width: fit-content;
  font-weight: 400;
  font-size: 0.9rem;
}
.pre-title::before {
  content: "";
  width: 30px;
  height: 1px;
  background: rgb(196, 196, 196);
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
}
/*Layout*/
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
  height: auto;
}

/*logo dan navigasi menu*/
.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}
.nav ul li a:hover {
  color: #525252;
}
.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
}
.logo a {
  color: black;
}
nav ul li {
  display: flex;
  align-items: center;
}
nav ul li a {
  color: black;
}

/*Burger*/
.burger div {
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 7px;
  transition: all 0.3s;
  z-index: 99;
}
.burger {
  display: none;
  z-index: 99;
  position: fixed;
  top: 33px;
  right: 35px;
}

/*Hero Section*/
#hero {
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.hero-name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}
.hero-right img {
  width: 80%;
  /*border: 5px solid rgba(128, 128, 128, 0.1);*/
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 5px;
}
.hero-right {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

/*About section*/
#about {
  background-color: rgb(240, 240, 240);
  padding: 6rem 0;
}
.about .pre-title {
  margin: 0 auto;
}
.about-title {
  text-align: center;
}

/*Task section*/
#tasks {
  background-color: white;
  padding: 6rem 0;
}
.tasks .pre-title {
  margin: 0 auto;
}
.tasks-title {
  text-align: center;
}
.task {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 5px;
}
.task-cover {
  height: 250px;
}
.task-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.task-info {
  padding: 2rem 1.5rem;
}
.task-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.task h4 {
  font-weight: 500;
  font-size: 1.2rem;
}
.task h4:hover {
  color: blue;
}

/*Portfolio section*/
#portfolios {
  background: rgb(240, 240, 240);
  padding: 6rem 0;
}
.portfolios .pre-title {
  margin: 0 auto;
}
.portfolios-title {
  text-align: center;
}
.portfolio {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 5px;
  background: white;
}
.portfolio-cover {
  height: 300px;
}
.portfolio-cover img {
  width: 100%;
  height: 100%;
  padding: 20px;
  object-fit: cover;
  border: 1px solid lightgray;
}
.portfolio-info {
  padding: 2rem 1.5rem;
}
.portfolio-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.portfolio h4 {
  font-weight: 540;
  font-size: 1.1rem;
}
.portfolio-title a svg:hover {
  fill: blue;
}
.portfolio-title a svg {
  transition: 0.2s ease-in-out;
}
.portfolio-tags {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}
.portfolio-tags div {
  font-size: 0.9rem;
  border: 1px solid rgb(198, 198, 198);
  padding: 0.4rem 1rem;
  color: gray;
}

/* Skills and Education */
#skills {
  padding: 6rem 0;
  background-color: white;
}
.skills .pre-title {
  margin: 0 auto;
}
.skill-title {
  text-align: center;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}
.education {
  display: flex;
  gap: 2rem;
}
.education .line {
  padding: 0 0.7rem;
}
.education .line div {
  width: 2px;
  height: 100%;
  background: rgb(198, 198, 198);
  position: relative;
}
.education-info p {
  margin: 0.6rem 0 1.4rem;
}
.education-years {
  margin-bottom: 3rem;
}
/* dot on line */
.education .line div:before {
  content: "";
  width: 15px;
  height: 15px;
  background: rgb(198, 198, 198);
  border-radius: 50%;
  position: absolute;
  left: -6px;
}
.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}
.skills-right ul {
  line-height: 2rem;
  padding: 0 1rem;
}

/* Contact section */
#contacts {
  padding: 6rem 6rem;
  background: rgb(240, 240, 240);
}
.contacts .pre-title {
  margin: 0 auto;
}
.contact-title {
  text-align: center;
}
.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  margin: auto;
  padding: 0 1rem;
}
.contact-form div {
  margin-bottom: 1.4rem;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem 1.3rem;
  font-family: "Roboto", sans-serif;
  background: white;
  border: 1px solid lightgrey;
  border-radius: 3px;
  resize: none;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1px solid gray;
}
.btn-submit {
  width: 100%;
  padding: 0.75rem 1.3rem;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btn-submit:hover {
  background: #3e3f40;
}
.contact-item {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}
.contact-item-icon {
  background: rgb(252, 251, 251);
  width: 53px;
  height: 53px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-item-icon svg {
  fill: grey;
}
.contact-item-detail h4 {
  margin-bottom: 0.6rem;
}
/* footer */
footer {
  padding: 4rem 0;
  text-align: center;
}
.footer-icon {
  margin-bottom: 1rem;
}
.footer-icon a {
  margin: 0 0.5rem;
}
.footer-icon svg {
  fill: #3e3f40;
}
.footer-icon a:hover svg {
  fill: black;
}
